# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.idea/
*.py[cod]
*$py.class

# ignore all the directories for codes and datasets
/**/
!/docs/
!/docs/**
!/research_writing_note/
!/docs/old_movie_restoration_progress/**

# User-specific stuff:
*.pptx
*.drawio
*.mp4
*.drawio.bkp
*.pt
*.zip
*.tar
*.pdf
