# Byte-compiled / optimized / DLL files
**/__pycache__/
**/.idea/
*.py[cod]
*$py.class

# ignore all the directories for codes and datasets
/**/
!/docs/
!research_writing_note/

# User-specific stuff:
*.pptx
*.drawio
*.mp4
*.drawio.bkp
*.pt
*.zip
*.tar